/* Réinitialiser les marges et les paddings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*police et couleur principale des textes*/
body{
    font-family:"Poppins", sans-serif;
    color:black;
}
/*Largeur maximale des éléments et centrage du container*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*toutes les class text-center sont centrées*/
.text-center{
    text-align: center;
}
/*display flex sur toutes les row et passage d'un élément en dessous quand la largeur dépasse 100%*/
.row{
    display: flex;
    flex-wrap: wrap;
}
/*on définit l'espace occupé par chaque colonne des classes .col*/

.col-25{
    width:25%;
}    
.col-33{
    width:33%;
}
.col-50{
    width: 50%;
}
.col-100{
    width:100%;
}
/*les marges*/
.mt-200{
    margin-top: 200px;
}
.mt-100{
    margin-top: 100px;
}
.mt-75{
    margin-top: 75px;
}
.mt-50{
    margin-top: 50px;
}
.mt-25{
    margin-top: 25px;
}

/*on définit taille des titres*/
h1{
    font-size: 42px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 16px;
}

/*La barre de navigation*/
.navbar-container{
    background-color: #B6D8F2;
}
.navbar{
    width: 780px;
    padding: 20px 0;
    height: 160px;
}
.contact{
    justify-content: space-between;
}
/* Style du menu */

.menu ul {
    list-style: none;/*on retire les points devant les éléments de la liste*/
    display: flex;
    justify-content: space-between;
}

/* Style des liens */
.menu ul li a {
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight:600;
}

/*Page d'accueil*/

.background-container{
    height: 900px;
    background-color: #F7F6CF;
}
.welcome{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
/* Styles des articles*/
.bloc-infos{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.list-infos{
    list-style: none;
}
.infos{
    width: 334px;
    height: 352px;
    background: #B6D8F2;
    border: 2px solid #000000;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.schedule{
    margin-left: 35px;
}

.care{
    margin-right: 35px;
}

/*photo et bouton rendes-vous*/
.img-appointment{
    width: 280px;
}
.container-appointment{
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}
.photo-dr{
    width: 280px;
    height: 330px;
    border-radius: 25px;
}
.appointment{
    margin-top: 10px;
}
.cta-appointment{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #B6D8F2;
    border: 2px solid #000000;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

/*footer*/
.footer{
    background-color: #B6D8F2;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}
.mentions{
    margin-left: 20px;
}
.contact{
    margin-right: 20px;
}
.align-icon{
    display: flex;
    align-items: center;
}
.icon{
    float: left;
    margin-right: 15px;
}

/*page rdv.php*/
.choice{
    display: flex;
    justify-content: space-evenly; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    height: 70%;           /* Hauteur de la page */
}
.question{
    display: inline-block;
    width: 250px; /* Vous pouvez ajuster la largeur selon vos besoins */
    word-wrap: break-word; /* Permet de couper les mots s'ils sont trop longs */
    white-space: normal; /* Permet le retour à la ligne */
    text-decoration: none;
    background-color: #B6D8F2;
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

/*Page new_rdv.php*/
/*on définit la place du label par rapport au champs*/
.form-container{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    height: 465px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
}
.form-grid{
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows:40px 40px 40px;
    gap:100px;
}
/*on définit la place du label par rapport au champs*/
.mp-label{
    display: flex;
    flex-direction: column;/*on place la label au dessus du champs*/
    align-items: flex-start;/*on aligne le label et le champs sur la gauche du conteneur*/
}
  .mp-label label {
    margin-bottom: 5px; /* Espacement entre le label et le champ */
  }
  .mp-label input {
    font-size: 20px;
    width: 100%;
  }
  .btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn-primary:hover {
    background-color: #0056b3;
  }
