/* Réinitialiser les marges et les paddings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*police et couleur principale des textes*/
body{
    font-family:"Poppins", sans-serif;
    color:black;
}
/*Largeur maximale des éléments et centrage du container*/
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/*les marges*/
.mt-200{
    margin-top: 200px;
}
.mt-150{
    margin-top: 150px;
}
.mt-100{
    margin-top: 100px;
}
.mt-75{
    margin-top: 75px;
}
.mt-50{
    margin-top: 50px;
}
.mt-25{
    margin-top: 25px;
}
.mb-50{
    margin-bottom: 50px;
}

/*Header*/
.custom-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.navbar-cta ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px; /* Ajustez l'espace entre les liens */
    flex-wrap: wrap; /* Permet aux éléments de s'enrouler sur plusieurs lignes si nécessaire */
}
.navbar-cta ul li {
    margin: 0;
}
.navbar-cta ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.navbar-cta ul li a:hover {
    text-decoration: underline;
}

/*Page index.php*/

.photo-dr{
    width: 280px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}
.cta-appointment{
    font-size: 24px;
    font-weight: bold;
}

/*Page soins*/
ul { 
    list-style-position: inside;
    text-align: left;
} 
ul li{
   text-indent: -20px;
   padding-left: 20px;
   line-height: 1.5;
}
ul li::marker { 
    font-size: 24px;
}

/*Page new-rdv*/

/*footer*/
.text-footer {
    font-size: 16px;
    color: black;
}

/*Page new_rdv.php*/
/*on définit la place du label par rapport au champs*/
.form-container{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 800px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 25px;
    padding: 20px;
}
.form-row {
    display: flex;
    justify-content: center;
}
.date-group{
    display: block;
}
.input-group .form-text {
    display: block;
    margin-top: 5px;
    color: #dc3545; /* Rouge Bootstrap pour les erreurs */
  }
  #mapid {
    width: 400px; 
    height: 250px;
}

.map-container{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    justify-content: center;
    align-items: flex-start;
}

/*page confirmation_rdv.php*/
.cta-modif{
    background-color: #80FF80;
}
.cta-cancel{
    background-color: #ff8080;
}

/*Page exit*/
.footer-exit{
    margin-top: 460px;
}
